NODE_ENV=development
PORT=5000
FRONTEND_URL=https://repo-mind.pages.dev

# Docker PostgreSQL Credentials (for Prisma on Host)
DATABASE_URL=postgresql://neondb_owner:npg_F0XQjbuWJVa1@ep-bold-glade-b46fkxfo-pooler.c-6.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=
SESSION_SECRET=
