NODE_ENV=development
PORT=5000
FRONTEND_URL=http://localhost:3000

# Docker PostgreSQL Credentials (for Prisma on Host)
DATABASE_URL=postgresql://repomind:repomind_dev_password@localhost:5432/repomind

GITHUB_CLIENT_ID=Ov23liPAQhMEqJw4xtx8
GITHUB_CLIENT_SECRET=6611d115e9d737aa6a79a54b7edcf59f6491b0c0
GITHUB_CALLBACK_URL=http://localhost:5000/api/auth/github/callback
SESSION_SECRET=f203dea1967f5892bc09b9bf9f1df008ddfbc2b2e6965c4810bf67f63cc4ed5a
